.sidebar {

  position: fixed;

  left: 0;

  top: 0;

  width: 260px;

  height: 100vh;

  background: #0d47a1;

  color: white;

  padding: 20px;

  box-sizing: border-box;

}



.logo {

  text-align: center;

  margin-bottom: 40px;

  font-size: 26px;

}



.sidebar ul {

  list-style: none;

  padding: 0;

}



.sidebar li {

  margin-bottom: 15px;

}



.sidebar a {

  display: block;

  color: white;

  text-decoration: none;

  padding: 12px 15px;

  border-radius: 8px;

  font-size: 16px;

  transition: 0.3s;

}



.sidebar a:hover {

  background: rgba(255,255,255,0.2);

  transform: translateX(5px);

}



@media(max-width:700px){

  .sidebar{

    width:80px;

  }


  .logo{

    font-size:18px;

  }


  .sidebar a{

    font-size:0;

  }


  .sidebar a:first-letter{

    font-size:22px;

  }

}